.cabecalho-moda{
    background-color: #BB86FC;
    font-size: 30px;
}
.produto-moda{
    background-color: #424250;
    color: #ffffff;
}

.cabecalho-casa{
    background-color: #00C4B4;
    font-size: 30px;
}
.produto-casa{
    background-color: #424250;
    color: #ffffff;
}